@model Vidly.Models.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "New movie";
    if(Model.Id != 0) {
        title = "Edit";
    }
}
<h2>@title</h2>
@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ReleasedDate)
        @Html.TextBoxFor(x => x.ReleasedDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ReleasedDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.DateAdded)
        @Html.TextBoxFor(x => x.DateAdded,"{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.DateAdded)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.NumberInStock)
        @Html.TextBoxFor(x => x.NumberInStock, new { @class = "form-control", @type = "number" })
        @Html.ValidationMessageFor(x => x.NumberInStock)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.GenreId)
        @Html.DropDownListFor(x => x.GenreId, new SelectList(Model.Genre, "Id", "Name", ""), new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.GenreId)
    </div>
    @Html.HiddenFor(x => x.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
